---
######
# Nextcloud Deployment
######
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: ncdg-app
  name: ncdg-app
  namespace: nextcloud
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ncdg-app
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: ncdg-app
    spec:
      containers:
        - env:
            - name: MAIL_DOMAIN
              value: dylangroff.com
            - name: MAIL_FROM_ADDRESS
              value: noreply
            - name: MYSQL_DATABASE
              value: nextcloud
            - name: MYSQL_HOST
              value: ncdg-db
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: ncdg-sql-password
                  key: mysql-password
            - name: MYSQL_USER
              value: nextcloud
            - name: NEXTCLOUD_INIT_HTACCESS
              value: "true"
            - name: NEXTCLOUD_TRUSTED_DOMAINS
              value: localhost files.dylangroff.com
            - name: PHP_MEMORY_LIMIT
              value: 2G
            - name: PHP_UPLOAD_LIMIT
              value: 16G
            - name: SMTP_HOST
              value: smtp.purelymail.com
            - name: SMTP_NAME
              value: noreply@dylangroff.com
            - name: SMTP_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: ncdg-smtp-password
                  key: smtp-password
            - name: SMTP_PORT
              value: "465"
            - name: SMTP_SECURE
              value: ssl
            - name: TZ
              value: America/Toronto
            - name: TRUSTED_PROXIES
              value: 10.42.4.0/24
            - name: OVERWRITEHOST
              value: files.dylangroff.com
            - name: OVERWRITEPROTOCOL
              value: https
          image: nextcloud
          name: nc-dg-app
          volumeMounts:
            - mountPath: /var/www/html
              readOnly: false
              name: ncdg-config
            # - mountPath: "/ext/Client Postings"
            #   readOnly: false
            #   name: smb
            #   subPath: 'Client Postings'
            # - mountPath: "/ext/Client Uploads"
            #   readOnly: false
            #   name: smb
            #   subPath: 'Client Uploads'
            - mountPath: "/ext/Documents"
              readOnly: false
              name: smb-documents
              subPath: Documents
            # - mountPath: "/ext/Installers"
            #   readOnly: false
            #   name: smb
            #   subPath: Installers
            # - mountPath: "/ext/Media"
            #   readOnly: false
            #   name: smb
            #   subPath: Media
            # - mountPath: "/ext/Work Archive"
            #   readOnly: false
            #   name: smb
            #   subPath: 'Work Archive'
      restartPolicy: Always
      volumes:
        - name: ncdg-config
          persistentVolumeClaim:
            claimName: ncdg-config
        - name: smb-documents
          persistentVolumeClaim:
            claimName: pvc-nextcloud-smb-documents
---
######
# Nextcloud Service
######
apiVersion: v1
kind: Service
metadata:
  labels:
    app: ncdg-app
  name: ncdg-app
  namespace: nextcloud 
spec:
  ports:
  - name: container-http-tcp
    port: 8080
    protocol: TCP
    targetPort: 8080
  - name: container-https-tcp
    port: 8443
    protocol: UDP
    targetPort: 8443
  - name: nextcloud-http
    port: 80
    protocol: TCP
    targetPort: 80
  - name: nextcloud-https
    port: 443
    protocol: TCP
    targetPort: 443
  - name: turnserver-tcp
    port: 3478
    protocol: TCP
    targetPort: 3478
  - name: turnserver-udp
    port: 3478
    protocol: UDP
    targetPort: 3478
  selector:
    app: ncdg-app
  externalTrafficPolicy: Local
  loadBalancerIP: 10.9.50.80
  type: LoadBalancer
---
###### 
# Maria DB 
######
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ncdg-db
  labels:
    app: ncdg-db
  namespace: nextcloud
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ncdg-db
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: ncdg-db
    spec:
      containers:
        - args:
            - --transaction-isolation=READ-COMMITTED
            - --log-bin=binlog
            - --binlog-format=ROW
          ports:
            - containerPort: 3306
          env:
            - name: MYSQL_DATABASE
              value: nextcloud
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: ncdg-sql-password
                  key: mysql-password
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: ncdg-sql-rootpassword
                  key: mysql-rootpassword
            - name: MYSQL_USER
              value: nextcloud
          image: mariadb:11.8
          name: ncdg-mysql
          volumeMounts:
            - mountPath: /var/lib/mysql
              name: ncdg-db
      restartPolicy: Always
      volumes:
        - name: ncdg-db
          persistentVolumeClaim:
            claimName: ncdg-db
---
###### 
# Nextcloud Ingress 
######
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: ncdg-app
  namespace: nextcloud
  annotations: 
    kubernetes.io/ingress.class: traefik-external
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`www.files.dylangroff.com`)
      kind: Rule
      services:
        - name: ncdg-app
          port: 80
    - match: Host(`files.dylangroff.com`)
      kind: Rule
      services:
        - name: ncdg-app
          port: 80
      middlewares:
        - name: nextcloud-headers
        - name: nextcloud-https-redirect 
        - name: nextcloud-regex
  tls:
    secretName: manly-dylangroff-com-tls
---
######
# Nextcloud Headers Middleware
######
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: nextcloud-headers
  namespace: nextcloud
spec:
  headers:
    frameDeny: true
    sslRedirect: true
    browserXssFilter: true
    #Instructs some browsers to not sniff the mimetype of files. This is used for example to prevent browsers from interpreting text files as JavaScript.
    contentTypeNosniff: true
    #HSTS
    stsIncludeSubdomains: true
    stsPreload: true
    stsSeconds: 31536000
    forceSTSHeader: true
    #X-Frame-Options,
    #Prevents embedding of the instance within an iframe from other domains to prevent Clickjacking and other similar attacks.#Instructs some browsers to not sniff the mimetype of files. This is used for example to prevent browsers from interpreting text files as JavaScript.
    customFrameOptionsValue: SAMEORIGIN
    referrerPolicy: "no-referrer"
    customRequestHeaders:
      X-Forwarded-Proto: https
---
######
# Nextcloud HTTPS Redirect Middleware
######
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: nextcloud-https-redirect
  namespace: nextcloud
spec:
  redirectScheme:
    scheme: https
    permanent: true
---
######
# Nextcloud WEBdav Regex
######
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: nextcloud-regex
  namespace: nextcloud
spec:
  redirectRegex:
    regex: "https://(.*)/.well-known/(card|cal)dav"
    replacement: "https:///remote.php/dav/"