---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: pvc-nextcloud-smb-documents
  namespace: nextcloud
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  volumeName: pv-nextcloud-smb-documents
  storageClassName: smb