services:
  traefik:
    image: traefik:latest
    networks:
      - traefik_proxy
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: host
      - target: 443
        published: 443
        protocol: tcp
        mode: host
      - target: 8080
        published: 8080
        protocol: tcp
        mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /mnt/traefik/certs:/certs
      - /mnt/traefik/dynamic:/dynamic:ro
      - /mnt/traefik/traefik.yaml:/traefik.yaml:ro
      - /mnt/traefik/logs:/var/log/traefik
    environment:
      - CF_API_EMAIL=dylan.mgroff@gmail.com
      - CF_DNS_API_TOKEN_FILE=/run/secrets/cf-token
      - CF_ZONE_API_TOKEN_FILE=/run/secrets/cf-token
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.dashboard.rule=Host(`traefik.manly.dylangroff.com`)"
        - "traefik.http.routers.dashboard.entrypoints=websecure"
        - "traefik.http.routers.dashboard.service=api@internal"
        - "traefik.http.routers.dashboard.tls=true"
        - "traefik.http.middlewares.dashboard-auth.basicauth.users=admin:$$apr1$$iPnXia02$$5LPr.BPzgYvKZtgD0zUPN1"
        - "traefik.http.routers.dashboard.middlewares=dashboard-auth@swarm"
        - "traefik.http.services.traefik.loadbalancer.server.port=8080"
networks:
  traefik_proxy:
    external: true